@font-face {
    font-family: 'MuliLight';
    src: url(../webfonts/muli/Muli-Light.eot);
    src: url('../webfonts/muli/Muli-Light.eot?#iefix') format('embedded-opentype'),url(../webfonts/muli/Muli-Light.woff) format('woff'),url(../webfonts/muli/Muli-Light.ttf) format('truetype')
}

@font-face {
    font-family: 'Muli';
    src: url(../webfonts/muli/Muli-Regular.eot);
    src: url('../webfonts/muli/Muli-Regular.eot?#iefix') format('embedded-opentype'),url(../webfonts/muli/Muli-Regular.woff) format('woff'),url(../webfonts/muli/Muli-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'MuliBold';
    src: url(../webfonts/muli/Muli-Bold.eot);
    src: url('../webfonts/muli/Muli-Bold.eot?#iefix') format('embedded-opentype'),url(../webfonts/muli/Muli-Bold.woff) format('woff'),url(../webfonts/muli/Muli-Bold.ttf) format('truetype')
}

@font-face {
    font-family: 'MuliSemiBold';
    src: url(../webfonts/muli/Muli-SemiBold.eot);
    src: url('../webfonts/muli/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),url(../webfonts/muli/Muli-SemiBold.woff) format('woff'),url(../webfonts/muli/Muli-SemiBold.ttf) format('truetype')
}

@font-face {
    font-family: 'MuliBlack';
    src: url(../webfonts/muli/Muli-Black.eot);
    src: url('../webfonts/muli/Muli-Black.eot?#iefix') format('embedded-opentype'),url(../webfonts/muli/Muli-Black.woff) format('woff'),url(../webfonts/muli/Muli-Black.ttf) format('truetype')
}

@font-face {
    font-family: 'CircularBook';
    src: url(../webfonts/circular/CircularStd-Book.eot);
    src: url('../webfonts/circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'),url(../webfonts/circular/CircularStd-Book.woff) format('woff'),url(../webfonts/circular/CircularStd-Book.ttf) format('truetype')
}

@font-face {
    font-family: 'CircularMedium';
    src: url(../webfonts/circular/CircularStd-Medium.eot);
    src: url('../webfonts/circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),url(../webfonts/circular/CircularStd-Medium.woff) format('woff'),url(../webfonts/circular/CircularStd-Medium.ttf) format('truetype')
}

@font-face {
    font-family: 'CircularBold';
    src: url(../webfonts/circular/CircularStd-Bold.eot);
    src: url('../webfonts/circular/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),url(../webfonts/circular/CircularStd-Bold.woff) format('woff'),url(../webfonts/circular/CircularStd-Bold.ttf) format('truetype')
}

@font-face {
    font-family: 'CircularBlack';
    src: url(../webfonts/circular/CircularStd-Black.eot);
    src: url('../webfonts/circular/CircularStd-Black.eot?#iefix') format('embedded-opentype'),url(../webfonts/circular/CircularStd-Black.woff) format('woff'),url(../webfonts/circular/CircularStd-Black.ttf) format('truetype')
}
